.hero-text {
  font-family: "Epilogue", sans-serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #faf6f6;
}

.hero-text h1 {
  font-weight: 800;
  font-size: 5rem;
  text-shadow: 5px 5px black;
}

.hero-text h2 {
  font-weight: lighter;
}

.hero-img {
  height: 100vh;
  background-image: linear-gradient(#5b6a488c),
    url("resources/images/placeholder1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.bordertext {
  font-family: "Epilogue", sans-serif;
  font-weight: 800;
  color: black;
}

.ts-icon {
  width: 64px;
  height: 64px;
}

footer {
  background-color: #8a9a5b;
}

.ftr-icon {
  box-shadow: 2px 2px#183123;
  width: 48px;
  height: 48px;
}

.ftrtext {
  font-family: "Epilogue", sans-serif;
  text-align: center;
  color: #faf6f6;
}

a {
  text-decoration: none;
}
