.hero-text h1 {
  font-weight: 800;
  font-size: 5rem;
}

.hero-text h2 {
  font-weight: lighter;
}

.hero-img {
  height: 100vh;
  background-image: linear-gradient(rgba(91, 106, 72, 0.55)),
    url("resources/images/placeholder1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.hero-text {
  font-family: 'Epilogue', sans-serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #faf6f6;
}

.bordertext {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  color: black;
}

.ts-icon {
  width: 64px;
  height: 64px;
}

footer {
  background-color: #8A9A5B;
}

.ftr-icon {
  box-shadow: 2px 2px#183123;
  width: 48px;
  height: 48px;
}

.ftrtext {
  font-family: 'Epilogue', sans-serif;
  text-align: center;
  color: #faf6f6;
}